body{
    background-image: url(bg.jpg);
    /*background-repeat: no-repeat;
    background-size: cover*/;
    
}

.btn_play{
    text-align: center;
    padding-top: 100px;
}

.btn{
    background-color: yellow;
    
}

.SWars{
    text-align: center;
    padding-top: 50px;
}
